---
layout: blog
---

<section class="mini-blog">
	{% set postslist = collections.post %} {% for post in postslist | reverse %}
	<article>
		<div class="card">
			<h2 class="postUrl">
				<a href="{{ post.url | url }}">
					{% if post.data.title %} {{ post.data.title }} {% else %} Untitled {%
					endif %}
				</a>
			</h2>
			<p class='dateTime'>
				{{ post.data.date | readableDate }} by 
				<div class="author">
					{{ post.data.author }} 
				</div>
			</p>
			
			{% if post.data.description %}
			<p>Blog post Description:</p> 
			<p class='description'> {{ post.data.description | truncate}}</p>
			{% endif %}

			<p>
				<a class="continue" href="{{ post.url | url }}"> Read more → </a>
			
		</div>
	</article>
	{% endfor %}
</section>