/* need to convert this into a sass buildd wth partials and then work out how to best incorporate sass build in 11ty */
/* Need to structure this with sass  */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
	/* sprimary color block */
	--primary-color-100: white;
	--primary-color-300: hsla(126, 25%, 77%, 0.816);
	--primary-color-600: hsla(125, 40%, 40%, 0.816);
	--primary-color-900: hsla(125, 30%, 30%, 0.816);
	--fader: hsla(0, 15%, 18%, 0.3);

	/* secondary color block */
	--secondary-color-100: white;
	--secondary-color-300: hsl(0, 80%, 80%);
	--secondary-color-600: hsl(0, 60%, 60%);
	--secondary-color-900: hsl(0, 30%, 30%);
}

html {
	font-size: 100%;
	box-sizing: border-box;
}

*,
*:before,
*:after html {
	box-sizing: inherit;
}

body {
	background-color: var(--primary-color-100);
	font-family: 'Roboto', sans-serif;
}
body,
h2,
h3,
h4,
h5,
h6,
body p,
a {
	color: var(--primary-color-900);
}
h1 {
	color: var(--secondary-color-900);
	font-weight: bold;
}
p {
	line-height: 1.9em;
	font-weight: bold;
}
.container {
	width: 90%;
	max-width: 1000px;
	margin: 0 auto;
}
.logo {
	font-size: 2.5em;
	color: var(--secondary-color-300);
	font-weight: bold;
}

.hero {
	padding: 2rem;
}
/* .hero h1 {
	margin-top: 1rem;
	color: var(--secondary-color-100);
	font-weight: bold;
}
.hero p {
	margin-top: 1rem;
	color: var(--secondary-color-100);
	line-height: 1.6em;
	font-size: 1.2em;
} */

img {
	width: 100%;
}

.quicklinks {
	background-color: var(--secondary-color-900);
	width: 80%;
	margin: 0 auto;
	box-shadow: 5px 5px rgba(94, 91, 83, 0.6);
	border-radius: 20px;
	padding: 10px;
}
.quicklinks p {
	background-color: var(--secondary-color-600);
	color: var(--secondary-color-100);
	font-weight: bold;
	border: solid var(--secondary-color-900) 2px;
	border-radius: 20px;
	padding: 1em;
	margin-top: 5px;
}
.quicklinks a {
	color: var(--secondary-color-900);
	text-decoration: none;
}
.quicklinks h3 {
	color: var(--secondary-color-100);
	margin: 0;
}
.fas {
	color: var(--primary-color-300);
}

/* NAVIGATION */

nav {
	position: fixed;

	display: flex;
	align-items: center;
	justify-content: space-between;
	/* flex-direction: column; */
	max-width: 1000px;
	top: 0;
	left: 0;
	right: 0;
	/* width: 100%; */
	background-color: var(--secondary-color-900);
	color: var(--secondary-color-900);
	padding: 10px;
	margin: 0 auto;
	/* align-items: center; */
}

/* spacer is used in navbar.html to drop content below the fixed navbar */

.spacer {
	height: 90px;
	width: 100%;
}

nav a {
	text-decoration: none;
	color: var(--secondary-color-100);
}

.nav ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	list-style: none;
	padding: 5px;
	margin: 10px;
	width: 600px;
	height: 50px;
}
li {
	margin: 5px;
}

/* end navigation */

/* MINI Blogs */
.mini-blog {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-grow: 1;
	justify-content: center;
}
.card {
	display: flex;
	flex-direction: column;
	box-shadow: 2px 2px 10px rgba(0, 10, 10, 0.8);
	border-radius: 10px;
	overflow: hidden;
	border: solid 2px var(--primary-color-600);
	/* width: 300px;
	height: 80vh; */
	/* background-color: var(--primary-color-900); */
	/* background-image: url('../img/old_rectory-17.jpg');
	background-size: contain; */
	/* margin: 2px 5px;
	padding: 10px; */
	padding: 1em;
}
.postUrl a {
	text-decoration: none;
	color: var(--secondary-color-900);
	background-color: var(--primary-color-300);
}
/* end mini blogs */

/* BLOG POSTS */
/* use to style all whole page blog; */
blockquote {
	border-left: solid 5px var(--primary-color-600);
	margin-right: 5px;
	padding: 0 10px;
	/* height: 200px; */
}
.full-blog {
	font-size: 0.9rem;
	width: 90%;
	margin: 0 auto;
}
.full-blog h1 {
	color: blue;
}
.full-blog time {
	color: rgb(255, 0, 64);
}
/* 
.in-post {
	border-radius: 20px;
	height: 100vh;
	background-size: auto;
	padding: 20px;
	margin: 20px;
	background-blend-mode: overlay;
}
.in-post p {
	font-size: 1.2rem;
	line-height: 1.3rem;
	color: rgb(0, 0, 2);
	padding: 20px;
	margin: 20px;
	background-color: white;
}

.in-post h1 {
	color: inherit;
	font-weight: bold;
} */
/* end blog */

/* FOOTER */

.footer {
	/* position: fixed; */
	display: flex;
	/* bottom: 0;
	right: 0;
	left: 0; */
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: var(--secondary-color-900);
	width: 100%;
	max-width: 1000px;
	height: 50px;
	text-decoration: none;
	color: var(--secondary-color-100);
	margin: 0 auto;
	padding: 10px;
	margin-top: 2em;
}

/*  end footer */

@media (max-width: 700px) {
	nav {
		flex-direction: column;
	}
}
.switcher {
	display: flex;
	flex-wrap: wrap;
	gap: 1em;
}

.switcher > * {
	flex-grow: 1;
	flex-basis: calc((30rem - 100%) * 999);
}

.switcher > :nth-last-child(n + 5),
.switcher > :nth-last-child(n + 5) ~ * {
	flex-basis: 100%;
}
.box {
	padding: var(--s1);
	border: var(--border-thin) solid;
	--color-light: rgb(224, 168, 168);
	--color-dark: rgb(61, 44, 44);
	color: var(--color-dark);
	background-color: var(--color-light);
}

.box * {
	color: inherit;
}

.box.invert {
	color: var(--color-light);
	background-color: var(--color-dark);
}
.frame {
	--n: 16;
	--d: 9;
	aspect-ratio: var(--n) / var(--d);
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 15px;
}

.frame > img,
.frame > video {
	inline-size: 80%;
	block-size: 80%;
	object-fit: cover;
}
.grid {
	display: grid;
	grid-gap: 0.05rem;
	background-color: rgb(226, 156, 156);
	border: 0.05rem solid rgb(218, 105, 105);
}
.grid-item {
	border: 1px solid white;
	background-color: white;
}
.grid-item:nth-child(1) {
	border: 1px solid white;
	background-color: rgb(231, 17, 17);
	color: white;
}
.grid-item:nth-child(1) a {
	color: white;
}

@supports (width: min(250px, 100%)) {
	.grid {
		grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
	}
}
.stack {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.stack > * {
	margin-block: 0;
}

.stack > * + * {
	margin-block-start: var(--space, 1.5rem);
}
.stack img {
	/* width: 100%; */
	max-inline-size: 100%;
}
.cluster {
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
	justify-content: space-evenly;
	align-items: center;
}
.center {
	display: flex;
	flex-direction: column;
	/* This will affect alignment of headers */
	align-items: center;
	/* ... */
	box-sizing: content-box;
	max-inline-size: var(--measure);
	margin-inline: auto;
	padding-inline-start: 1em;
	padding-inline-end: 1em;
	/* This will affect text in paragraphs not headers */
	/* text-align: center; */
	/* ... */
}
