---
layout: default
---

<h1>testing data</h1>

<h2>Collections</h2>
<p>take any tag and iterate over it with the collectiions.tag</p>
tag = test
<ul>
	{% for item in collections.test %}
	<li>{{item.data.title}}</li>
	{% endfor %}
</ul>
tag = post
<ul>
	{% for item in collections.post %}
	<li>{{item.data.title}}</li>
	{% endfor %}
</ul>
<h2>Other data</h2>
<p>
	From authors.yaml in the _data directory. Iterate over name of file ( authors)
	. the list in question ( also authors) and pick out the property you want ( in
	this case name) so <strong>authors.authors.name</strong></p>
</p>
<ul>
	{% for item in authors.authors %}
	<li>{{ item.name }}</li>
	{% endfor %}
</ul>

